body {
  background-color: bisque;
  font-family: 'Poppins', sans-serif;
}

.title {
  text-align: center;
  font-size: 2rem;
}

.heading {
  font-size: 4rem;
  color: darkgreen;
}

.big-box {
  border: 3px solid gray;
  width: 50%;
  margin: 0 auto;
  padding: 15px;
}

.circle {
  width: 200px; 
  height: 200px; 
  border: 2px solid; 
  border-radius: 50%; 
  margin: 0 auto;
}

#red {
  border-color: red;
}
#yellow{
  border-color: yellow;
}
#green {
  border-color: green;
}

hr {
  margin: 1rem auto;
  width: 75%;
}